/* ----------------------------------------------------------------------------- DEFAULT STYLE REMOVAL ------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------------------------------------------------------------------------- COLORS ------------------------------------------------------------------------- */
:root {
    --berry:rgb(66, 0, 0);
    --pine:rgb(92, 92, 5);
    --branch:rgb(87, 45, 16);
    --wall:rgb(218, 218, 218);
    --leaf:dimgray;
    --black: black;
}
/* ----------------------------------------------------------------------------- BACKGROUND ------------------------------------------------------------------------- */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
}
main {
    padding-top: 0.7rem;
    margin-top: 5.8rem;
}
/* ----------------------------------------------------------------------------- NAVIGATION ------------------------------------------------------------------------- */
nav {
    padding: 1.5rem;
    background-color: var(--berry);
}
.nav-menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.nav-menu li {
    margin: 0 0.5rem;
}
.nav-menu a {
    text-decoration: none;
    color: #dfdfdf;
    background-color: var(--berry);
    display: block;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}
.nav-menu a:hover {
    color: gold;
    text-decoration: underline;
}
.nav-container {
    background-color: var(--berry);
    padding: 0rem 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2rem;
    text-decoration: underline;
}
/* ----------------------------------------------------------------------------- IMAGES ------------------------------------------------------------------------- */
.img {
    width: 100%;
    height: 625px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}
.c1 {
    background-image: url(../images/day1hostage.jpg);
}
.s1 {
    background-image: url(../images/Revolutionary_occupation_of_U.S._embassy_Title_of_Islamic_Republican_newspaper_in_November_5\,_1979.jpg);
}
.s2 {
    background-image: url(../images/ThanksCanada.JPG);
}
.s3 {
    background-image: url(../images/gasMasks.jpg);
}
.s4 {
    background-image: url(../images/gunsInDrawer.jpg);
}
.s5 {
    background-image: url(../images/Newspapers.jpg);
}
.s6 {
    background-image: url(../images/protestAgainstAmerica.jpg);
}
.s7 {
    background-image: url(../images/life_preserver.jpg);
}
.s8 {
    background-image: url(../images/crowd.jpg);
}
.s9 {
    background-image: url(../images/crowbarAtWindow.jpg);
}
.s10 {
    background-image: url(../images/againstAmericaandCarter.jpg);
}
.s11 {
    background-image: url(../images/confinement.jpg);
}
.s12 {
    background-image: url(../images/shredder.jpg);
}
.s13 {
    background-image: url(../images/hostagesReleased.jpg);
}
/* ----------------------------------------------------------------------------- IMAGE BEFORE ------------------------------------------------------------------------- */
.img::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}
/* ----------------------------------------------------------------------------- CARDS ------------------------------------------------------------------------- */
.large-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 100rem;
    padding: 0 10px;
    padding-bottom: 3rem;
}
.card-large {
    background: black;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.card-title {
    color: silver;
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
    z-index: 10;
}
.card-large p {
    color: #5e6742;
    font-size: 1.5rem;
    line-height: 2;
    text-align: justify;
}
.card-large .price {
    font-size: 2.5rem;
    color: green;
}
/* ----------------------------------------------------------------------------- BUTTON ------------------------------------------------------------------------- */
.btn-box {
    display: flex;
    justify-content: space-between;
}
.btn {
    text-decoration: none;
    background-color: var(--pine);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 6px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: max-content;
}
.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    background-color:forestgreen;
}
.end {
    background-color: rgb(110, 0, 0);
}
.end:hover {
    background-color: rgb(150, 0, 0);
}
/* ----------------------------------------------------------------------------- FOOTER ------------------------------------------------------------------------- */
footer {
    display: flex;
    box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.8);
}
.footer {
    background-color: var(--branch);
    width: 100%;
    padding: 1.5rem 0;
}
footer p {
    color: var(--wall);
    text-align: center;
}